@layer base {

  button,
  [role="button"],
  input[type="submit"],
  input[type="reset"],
  input[type="button"],
  label[type="button"] {
    @apply py-1.5 px-2.5 my-1 mx-0 font-sans text-base text-center break-words  rounded box-border text-bg;
  }

  button[disabled],
  [role="button"][aria-disabled="true"],
  input[type="submit"][disabled],
  input[type="reset"][disabled],
  input[type="button"][disabled],
  input[type="checkbox"][disabled],
  input[type="radio"][disabled],
  select[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
  }

  button:focus,
  button:enabled:hover,
  [role="button"]:focus,
  [role="button"]:not([aria-disabled="true"]):hover,
  input[type="submit"]:focus,
  input[type="submit"]:enabled:hover,
  input[type="reset"]:focus,
  input[type="reset"]:enabled:hover,
  input[type="button"]:focus,
  input[type="button"]:enabled:hover,
  label[type="button"]:focus,
  label[type="button"]:hover {
    filter: brightness(1.4);
    @apply focus:cursor-pointer;
  }
}
