@layer base {

  /* Consolidate box styling */
  aside, details, pre, progress {

    @apply bg-accent-bg border border-2 border-border rounded-[5px] mb-4 ;
  }

  aside {
    @apply float-right py-0 px-[15px]  ml-[15px] text-[1rem] w-[30%]  ;
  }

  /* Make aside full-width on mobile */
  @media only screen and (max-width: 720px) {
    aside {
      width: 100%;
      float: none;
      margin-left: 0;
    }
  }

  article, fieldset {
    @apply p-4 mb-4 leading-7 rounded border border-solid box-border border-border;
  }

  article h2:first-child,
  section h2:first-child {
    margin-top: 1rem;
  }

  section {
    @apply py-8 px-4 my-12 mx-0 leading-7 border-solid box-border border-y border-border

  }

  /* Don't double separators when chaining sections */
  section + section,
  section:first-child {
    border-top: 0;
    padding-top: 0;
  }

  section:last-child {
    border-bottom: 0;
    padding-bottom: 0;
  }

  details {
    padding: 0.7rem 1rem;
  }

  summary {
    cursor: pointer;
    font-weight: bold;
    padding: 0.7rem 1rem;
    margin: -0.7rem -1rem;
    word-break: break-all;
  }

  details[open] summary + * {
    margin-top: 0;
  }

  details[open] summary {
    margin-bottom: 0.5rem;
  }

  details[open] > :last-child {
    margin-bottom: 0;
  }
}
