@layer base {

  /* Misc body elements */
  hr {
          @apply text-green-300;

    border-top: 1px;
    margin: 1rem auto;
  }

  mark {
    padding: 2px 5px;
    border-radius: 4px;
 /*   background-color: var(--marked);*/
    @apply bg-red-200;
  }

  img,
  video {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }

  figure {
    margin: 0;
    text-align: center;
  }

  figcaption {
    @apply text-text-light;
    font-size: 0.9rem;

    margin-bottom: 1rem;
  }

  blockquote {
    @apply py-2 px-3 my-8 mr-0 ml-8 italic leading-7 border-l-4 border-accent border-solid box-border text-text-light;

  }

  cite {
    @apply text-sm not-italic leading-5 break-words box-border text-text-light
  }

  dl {
    display: grid;
    grid-template-columns: auto 1fr;
  }

  dl dt {
    grid-column-start: 1;
    ;
    @apply text-text-light;
  }

  dl dd {
    grid-column-start: 2;
  }

  /* Use mono font for code elements */
  code,
  pre,
  pre span,
  kbd,
  samp {
    font-family: var(--mono-font);
   @apply text-code
  }

  kbd {
    @apply text-preformatted;

    border: 1px solid var(--preformatted);
    border-bottom: 3px solid var(--preformatted);
    border-radius: 5px;
    padding: 0.1rem 0.4rem;
  }

  pre {
    padding: 1rem 1.4rem;
    max-width: 100%;
    overflow: auto;

    @apply text-preformatted;
  }

  /* Fix embedded code within pre */
  pre code {
    @apply text-preformatted;

    background: none;
    margin: 0;
    padding: 0;
  }
}
