@layer base {

  /* Format navigation */
  header > nav {
    font-size: 1rem;
    line-height: 2;
    padding: 1rem 0 0 0;
  }

  /* Use flexbox to allow items to wrap, as needed */
  header > nav ul,
  header > nav ol {
    align-content: space-around;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  /* List items are inline elements, make them behave more like blocks */
  header > nav ul li,
  header > nav ol li {
    display: inline-block;
  }

  header > nav a,
  header > nav a:visited {
    margin: 0 0.5rem 1rem 0.5rem;
    border: 1px solid var(--border);
    border-radius: 5px;
    color: var(--text);
    display: inline-block;
    padding: 0.1rem 1rem;
    text-decoration: none;
  }

  header > nav a:hover {
    filter: brightness(1.4);
    cursor: pointer;
  }

  /* Reduce nav side on mobile */
  @media only screen and (max-width: 720px) {
    header > nav a {
      border: none;
      padding: 0;
      text-decoration: underline;
      line-height: 1;
    }
  }
}
