@layer base {

  /* Format headers */
  h1 {
    @apply my-[26.8px] text-5xl ;
  }

  h2 {
    @apply mt-12 mb-[27.888px] text-4xl;
  }

  h3 {
    @apply mt-12 mb-[28px] text-3xl;
  }

  h4 {
    @apply block my-[26.6px] text-2xl leading-9;
  }

  h5 {
    @apply my-[30.728px] text-lg leading-7 box-border;
  }

  h6 {
    @apply my-[35.789px] text-base leading-6 box-border;
  }


  h1, h2, h3, h4, h5, h6 {
    @apply font-bold;
  }


  /* Prevent long strings from overflowing container */
  p, h1, h2, h3, h4, h5, h6 {
    @apply break-words;

  }

  /* Fix line height when title wraps */
  h1,
  h2,
  h3 {
    @apply leading-[1.1]
  }

  /* Reduce header size on mobile */
  @media only screen and (max-width: 720px) {
    h1 {
      @apply text-[2.5rem];
    }

    h2 {
      @apply text-[2.1rem];

    }

    h3 {
      @apply text-[1.75rem];

    }

    h4 {
      @apply text-[1.25rem];
    }
  }

  /* Format links & buttons */
  a,
  a:visited {
    @apply text-accent ;

  }
  
  a:hover {
    text-decoration: none;
  }

  p {
    @apply my-[18.4px] leading-7 box-border leading-7 break-words;
  }
}
