<div class="bg-gray-800 py-1 px-4 rounded-xl shadow-2xl">
  <h4 class="text-gray-200">
    Demo of SimpleTails
  </h4>
  <p class="text-gray-200 ">
    SimpleTails is a <a href="https://tailwindcss.com/docs/typography-plugin">TailwindCSS prose</a> implementation heavily inspired by <a href="https://simplecss.org/">SimpleCSS.</a><br>
    By using the <code class="text-red-600">.simple-prose</code> class semantic HTML tags will include styling.
  </p>
</div>
<%= render "app_tools/simple_tails/demo" %>
