<h2>Home</h2>
<p>Landing page stuff goes here...</p>

<div class="bg-gradient-to-t from-text via-bg to-text h-auto rounded-lg">
  <div class="flex flex-col mt-10">
    <div class="h-8 m-2	rounded-lg flex items-center justify-center font-light px-6 bg-bg">bg</div>
    <div class="h-8 m-2	rounded-lg flex items-center justify-center font-light px-6 bg-accent-bg">accent-bg</div>
    <div class="h-8 m-2	rounded-lg flex items-center justify-center font-light px-6 bg-text text-black">text</div>
    <div class="h-8 m-2	rounded-lg flex items-center justify-center font-light px-6 bg-text-light text-black">text-light</div>
    <div class="h-8 m-2	rounded-lg flex items-center justify-center font-light px-6 bg-border text-black">border</div>
    <div class="h-8 m-2	rounded-lg flex items-center justify-center font-light px-6 bg-accent">accent</div>
    <div class="h-8 m-2	rounded-lg flex items-center justify-center font-light px-6 bg-code">code</div>
    <div class="h-8 m-2	rounded-lg flex items-center justify-center font-light px-6 bg-preformatted text-black">preformatted</div>
    <div class="h-8 m-2	rounded-lg flex items-center justify-center font-light px-6 bg-marked">marker</div>
    <div class="h-8 m-2	rounded-lg flex items-center justify-center font-light px-6 bg-disabled">disabled</div>
  </div>
</div>
