@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@import "fonts/font_selection.css";

@import "simplecss/simpletails.css";

@import "simplecss/simpletails_color_select.css";

.field {
  margin-bottom: 1rem;

  input {
    &[type="text"],
    &[type="search"],
    &[type="tel"],
    &[type="url"],
    &[type="email"],
    &[type="password"]{
      width: 100%;
    }
  }
}



nav button,
nav button:visited {
  background-color: var(--accent-bg)!important;
  margin: 0 1rem 0 0;
  border: 1px solid var(--border);
  border-radius: 5px;
  color: var(--text);
  display: inline-block;
  padding: 0.1rem 1rem;
  text-decoration: none;
}

nav button:hover {
  background-color: var(--accent-bg);
  color: var(--accent);
  border-color: var(--accent);
}

