<div class="mx-auto flex justify-center -mt-20 mb-4">
  <div class="w-72">
    <p class=" flex flex-col items-center">
      <label for="theme" class="text-xs text-center mb-1">Theme (stored in browser) </label>
      <select data-choose-theme class="text-xs items-center ">
        <option value="">Default</option>
        <option value="amber">Amber</option>
        <option value="blue">Blue</option>
        <option value="coffee">Coffee</option>
        <option value="cyan">Cyan</option>
        <option value="emerald">Emerald</option>
        <option value="fuchsia">Fuchsia</option>
        <option value="gray">Gray</option>
        <option value="green">Green</option>
        <option value="indigo">Indigo</option>
        <option value="lime">Lime</option>
        <option value="neutral">Neutral</option>
        <option value="orange">Orange</option>
        <option value="pink">Pink</option>
        <option value="purple">Purple</option>
        <option value="red">Red</option>
        <option value="rose">Rose</option>
        <option value="sky">Sky</option>
        <option value="slate">Slate</option>
        <option value="stone">Stone</option>
        <option value="violet">Violet</option>
        <option value="yellow">Yellow</option>
        <option value="zinc">Zinc</option>
      </select>
    </p>
  </div>
</div>
