<div class="mx-auto flex justify-center -mt-20 mb-4">
  <div class="w-72">
    <p class=" flex flex-col items-center">
      <label for="theme" class="text-xs text-center mb-1">Theme (stored in browser) </label>
      <select data-choose-theme class="text-xs items-center ">
        <option class="text-[10px]" value="amber">Amber</option>
        <option class="text-xs" value="blue">Blue</option>
        <option class="text-xs" value="coffee">Coffee</option>
        <option class="text-xs" value="cyan">Cyan</option>
        <option class="text-xs" value="emerald">Emerald</option>
        <option class="text-xs" value="fuchsia">Fuchsia</option>
        <option class="text-xs" value="gray">Gray</option>
        <option class="text-xs" value="green">Green</option>
        <option class="text-xs" value="indigo">Indigo</option>
        <option class="text-xs" value="lime">Lime</option>
        <option class="text-xs" value="neutral">Neutral</option>
        <option class="text-xs" value="orange">Orange</option>
        <option class="text-xs" value="pink">Pink</option>
        <option class="text-xs" value="purple">Purple</option>
        <option class="text-xs" value="red">Red</option>
        <option class="text-xs" value="rose">Rose</option>
        <option class="text-xs" value="sky">Sky</option>
        <option class="text-xs" value="slate">Slate</option>
        <option class="text-xs" value="stone">Stone</option>
        <option class="text-xs" value="violet">Violet</option>
        <option class="text-xs" value="yellow">Yellow</option>
        <option class="text-xs" value="zinc">Zinc</option>
      </select>
    </p>
  </div>
</div>
